.elements__list {
    width: 100%;
    box-sizing: border-box;
    color: #000000;
    display: grid;
    /* Убираю поля и точки списка */
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    /* grid */
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    /* min-content*/
    /* fit-content*/
    /*grid-template-rows: repeat(auto-fit, minmax(282px, 1fr));*/
    grid-auto-rows: 1fr;
    column-gap: 17px;
    row-gap: 20px;
}