.big-image__button-image {
    height: 32px;
    width: 32px;
}
  
.big-image__button-image:hover {
    opacity: 0.6;
}
  
@media screen and (max-width: 1024px) {
      .big-image__button-image {
          height: 20px;
          width: 20px;
      }
}